.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  //box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
}

.menu-item-has-children:hover .sub-menu {
  display: block;
}

.nav-primary {
  float: right;
  padding-right: 5%;
  padding-top: 40px;
}

.menu-item {
  a {
    color: #ab9767;
    @include font-size-sass(16px);
  }
  .current-menu-item a,
  &.current-menu-ancestor > a,
  &:hover > a {
    color: #b0291c;
    font-weight: 600;
  }
}
