.section-header {
  height: 460px;
  position: relative;
}

.section-banner {
  height: 550px;
  text-align: left;
  position: relative;
  h1,
  div {
    color: #fff;
  }
  h1 {
    @include font-size-sass(56px);
    letter-spacing: -1.56px;
    line-height: 0.82;
  }
  .container {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1em;
  }
  .banner-content {
    .section-banner-content {
      @include font-size-sass(26px);
      letter-spacing: -0.72px;
      line-height: 1.38;
      max-width: 520px;
      margin-top: 30px;
    }
    .credit {
      @include font-size-sass(16px);
      position: absolute;
      bottom: 40px;
    }
    p {
      padding: 20px 0 0;
    }
  }
}

.white-bg.banner-content {
  background-color: #fff;
  height: 320px;
  position: absolute;
  bottom: -120px;
  z-index: 2;
  left: 50%;
  margin-left: -650px;
  padding: 60px 100px;
  p {
    padding: 0;
    &.author-info {
      padding-top: 30px;
    }
  }
}

.element-item {
  .item {
    width: 390px;
    height: 240px;
  }
}

.section-margin-top {
  margin-top: 120px;
}

.fliter-btns-group {
  border-top: 2px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 30px;
  .tab {
    @include font-size-sass(16px);
    padding: 0 20px;
    font-weight: 600;
    color: #ab9767;
    &.tab-active {
      color: #b0291c;
    }
    &:hover {
      cursor: pointer;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  &.fliter-btns-group-alignV {
    border: none;
    display: block;
    padding: 0;
    margin-bottom: 0;
    text-align: left;
    max-width: 280px;
    h3 {
      @include font-size-sass(16px);
      font-weight: 700;
      color: #ab9767;
      margin-bottom: 15px;
    }
    .tab {
      padding: 3px 0;
      display: block;
      font-weight: 400;
    }
  }
}

.grid {
  .element-item {
    max-width: 390px;
    margin: 30px 1%;
    width: 32%;
    /*&:nth-child(3n-1) {
      margin: 30px 4%;
    }*/
  }
  .item-content {
    margin: -50px 20px 0;
    background-color: #fff;
    padding: 30px;
    -webkit-box-shadow: 0px 3px 90px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 90px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 90px 0px rgba(0, 0, 0, 0.3);
    .cta-brown {
      line-height: 1.2;
      display: block;
      text-transform: capitalize;
      margin: 15px 0;
    }
    p {
      line-height: 1.25;
      @include font-size-sass(16px);
      margin-bottom: 30px;
      padding: 0;
    }
    .author-info-item {
      font-weight: 600;
      color: #ab9767;
      text-transform: capitalize;
    }
  }
}

.section-tabs-system {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  .grid {
    padding: 10px 0 40px 0;
    .element-item {
      text-align: center;
      width: 100%;
      margin: 0;
      //padding: 0;
      max-width: none;
      h2 {
        margin-bottom: 15px;
      }
      p {
        padding: 0;
        text-align: left;
      }
    }
    .bx-wrapper {
      margin: 30px auto;
      .item-content {
        padding: 0;
      }
      .bx-controls-direction a {
        bottom: 16%;
        color: #1c1c1c;
      }
    }
    &.grid-alignV {
      @include calc(width, '100% - 280px');
      padding-left: 50px;
      .inner-container {
        text-align: left;
      }
      padding-top: 0;
      margin-top: 0;
      .element-item p {
        padding: 30px 0;
      }
    }
  }
  &.hasBorder {
    border-top: 2px solid #d8d8d8;
    padding-top: 70px;
  }
}

.section-intro {
  overflow: hidden;
  padding: 3rem 0;
  .hasCrossLine {
    position: relative;
    margin-bottom: 15px;
    &::before {
      content: "";
      background: #ab9767;
      width: 10%;
      display: block;
      position: absolute;
      height: 2px;
      top: 7px;
    }
    .hasCrossLine-topic {
      color: #ab9767;
      font-weight: 600;
      @include font-size-sass(16px);
      line-height: 1;
    }
  }
  .intro-topic {
    width: 46%;
  }
  .intro-content {
    width: 52%;
  }
}

.inner-container {
  width: 84%;
  margin: 0 auto;
}

.section-content {
  margin-top: 20px;
}

.section-cols {
  text-align: center;
  .cols {
    overflow: hidden;
    margin-top: 30px;
    .col {
      width: 42%;
      float: left;
      &:last-child {
        float: right;
      }
      img {
        width: 610px;
        height: 300px;
        position: relative;
        z-index: 0;
      }
      .item-content {
        margin: -20% 20px 0;
        background-color: #fff;
        padding: 30px;
        z-index: 2;
        position: relative;
        text-align: left;
        /*-webkit-box-shadow: 0px 3px 90px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 3px 90px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 3px 90px 0px rgba(0, 0, 0, 0.3);*/
        .cta-brown {
          line-height: 1.2;
          display: block;
          text-transform: capitalize;
          margin: 15px 0;
          @include font-size-sass(20px);
        }
        h4 a.cta-brown {
          @include font-size-sass(16px);
        }
        p {
          line-height: 1.25;
          @include font-size-sass(16px);
          margin-bottom: 30px;
          padding: 0;
        }
      }
    }
  }
}

.section-testimonials,
.testimonials {
  .item-content {
    margin: -10% auto 0;
    z-index: 2;
    position: relative;
    text-align: left;
    width: 100%;
    max-width: 945px;
    .oib-member {
      background-color: rgba(171, 151, 103, 0.8);
      padding: 15px 20px;
      color: #fff;
      @include font-size-sass(16px);
      font-weight: 300;
      display: inline-block;
    }
    .hasBg-content {
      background-color: #fff;
      padding: 60px 80px;
      background-image: url("./images/test_bg.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      position: relative;
      .testimonial-content {
        color: #fff;
        @include font-size-sass(24px);
        font-weight: 300;
        font-style: italic;
        letter-spacing: -0.67px;
        line-height: 1.42;
        font-family: "Merriweather", serif;
        padding: 0;
      }
      .testimonial-author {
        color: #fff;
        font-weight: 600;
        margin-bottom: 0;
        padding: 0;
        span,
        a {
          color: inherit;
          font-weight: inherit;
        }
      }
      .cta-brown {
        line-height: 1.2;
        display: block;
        text-transform: capitalize;
        margin: 15px 0;
        @include font-size-sass(20px);
      }
      p {
        line-height: 1.25;
        @include font-size-sass(16px);
        margin-bottom: 30px;
      }
      &::before,
      &::after {
        @include font-size-sass(44px);
        font-weight: 700;
        color: #fff;
        font-family: "Merriweather", serif;
        line-height: 1;
        letter-spacing: -0.67px;
      }
      &::before {
        content: "“";
        position: absolute;
        top: 60px;
        left: 40px;
      }
      &::after {
        content: "”";
        position: absolute;
        bottom: 40px;
        right: 40px;
      }
    }
  }
}

.section-html {
  padding: 70px 0;
}

.section-image-with-text {
  overflow: hidden;
  padding: 30px 0;
  .content {
    width: 42%;
    margin-top: 15%;
  }
  img {
    display: block;
    width: 46%;
  }
}

.culture {
  .section-html {
    padding: 70px 0 50px;
  }
}

.section-select-members {
  text-align: center;
  .members {
    overflow: hidden;
    margin-top: 30px;
    .member {
      width: 31%;
      float: left;
      max-width: 390px;
      &:nth-child(3n-1) {
        margin: 0 3.5%;
      }
      img {
        width: 390px;
        height: 390px;
        position: relative;
        z-index: 0;
      }
      .item-content {
        margin: -18% 20px 0;
        background-color: #fff;
        padding: 30px;
        z-index: 2;
        position: relative;
        text-align: left;
        /*-webkit-box-shadow: 0px 3px 90px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 3px 90px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 3px 90px 0px rgba(0, 0, 0, 0.3);*/
        .cta-brown {
          line-height: 1.2;
          display: block;
          text-transform: capitalize;
          margin: 15px 0;
          @include font-size-sass(20px);
        }
        p {
          line-height: 1.25;
          @include font-size-sass(16px);
          margin-bottom: 30px;
          padding: 0;
        }
      }
      &.member-fancybox:hover {
        cursor: pointer;
      }
    }
  }
}

.single-news {
  h1 {
    max-width: 700px;
    line-height: 1.28;
  }
  .author-info {
    padding: 30px 0 0;
  }
  .entry-content {
    border-top: 2px solid #d8d8d8;
    overflow: hidden;
    padding: 40px 0;
    .inner-container {
      max-width: 724px;
      width: 100%;
    }
    .social {
      i::before {
        font-size: 36px;
      }
    }
    .inner-container {
      padding-left: 30px;
      & > :first-child {
        padding-top: 0;
      }
    }
    .sidebar {
      max-width: 280px;
      .sidebar-subscribe {
        background-color: #b0291c;
        margin-bottom: 20px;
        padding: 40px 15px 0;
        h4 {
          color: #fff;
          letter-spacing: -0.67px;
          @include font-size-sass(24px);
          line-height: 1.25;
          text-transform: unset;
        }
      }
      a {
        display: block;
        padding: 20px 0;
      }
    }
  }
}

.related-news {
  border-top: 2px solid #d8d8d8;
  padding: 70px 0 150px;
  h2 {
    text-align: center;
  }
  .item-content {
    z-index: 2;
    position: relative;
    text-align: left;
  }
  .item img {
    position: relative;
    z-index: 0;
  }
  .grid {
    text-align: center;
    .element-item {
      margin: 50px 2%;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
